<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default panel-danger" ng-repeat="item in doencas">
		  	<div class="panel-heading">{{item.value.nomeDoenca}}
	  			<button type="button" ng-click="addDoencaParciente(this)" class="btn btn-success btn-xs pull-right">
	  			<span>
	  				<i class="glyphicon glyphicon-plus"></i>
	  			</span>
	  		</button>
		  	</div>
		  	<div class="panel-body">
		    	{{item.value.descricao}}
		  </div>
		</div>
	</div>
  	<div class="col-md-6">
  		<div class="panel panel-default panel-success" ng-repeat="item in parcienteDoencas">
		  	<div class="panel-heading">
		  		{{item.value.nomeDoenca}}
		  		<button type="button" class="btn btn-danger btn-xs pull-right">
		  			<span>
		  				<i class="glyphicon glyphicon-minus"></i>
		  			</span>
		  		</button>
		  	</div>
		  	<div class="panel-body">
		    	{{item.value.descricao}}
		  </div>
		</div>
  	</div>
</div>