
<div class="modal-header">
    <h4 class="modal-title">Cadastrar as doencas do parciente</h3>
</div>
<div class="modal-body">	
	<div class="row">
		<div class="col-md-6">
			 <fieldset>
			 <legend>Doenças cadastradas</legend>
			 <div class="form-group">
				<label for="pesquisa-doencas">Pesquisar Doenças:</label>
			    <input class="form-control" id="pesquisa-doencas" type="search" ng-model="nome" placeholder="Pesquisar doença" />
			 </div>
			<div class="panel panel-default panel-danger" ng-repeat="item in obter.listarDoencaDivergencia |filter:nome">
			  	<div class="panel-heading">{{item.nomeDoenca}}
		  			<button type="button" ng-click="addDoencaPacienteRemoveListaDoencas(item)" class="btn btn-success btn-xs pull-right">
		  			<span>
		  				<i class="glyphicon glyphicon-plus"></i>
		  			</span>
		  		</button>
			  	</div>
			  	<div class="panel-body">
			    	{{item.descricao}}
			  </div>
			</div>
			</fieldset>
		</div>

	  	<div class="col-md-6">
	  		<fieldset>
	  		<fs-row label="Classificações do CDD: "  class="col-sm-2">
		      <div class="col-xs-8">
		        <div ng-class="form-control" ng-change="obterCDDClassificado()" fs-select="" freetext="true" items="classificacoes"  ng-model="classificacao">
		          {{item.nome}}
		        </div>
		      </div>
	        </fs-row>
	  		<legend>Doenças do paciente</legend>
	  		<div class="panel panel-default panel-success" ng-repeat="item in obter.listarDoencaDoPaciente |filter:nomeDoencaPaciente">
			  	<div class="panel-heading">
			  		{{item.nomeDoenca}}
			  		<button value.type="button" ng-click="removerListaPacienteAddListDoenca(item)" class="btn btn-danger btn-xs pull-right">
			  			<span>
			  				<i class="glyphicon glyphicon-minus"></i>
			  			</span>
			  		</button>
			  	</div>
			  	<div class="panel-body">
			    	{{item.descricao}}
			  </div>
			</div>
			</fieldset>
	  	</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()">Fechar</button>
	</div>
</div>