<div class="row">
    <div class="col-xs-3">
        <button class="btn btn-success btn-sm" 
                ng-click="openDialog()">
        	<i class="glyphicon glyphicon-plus"></i>
            </button>
    </div>
    <div class="col-xs-9">
        <div class="input-group">
            <span class="input-group-addon">
                <i class=" glyphicon glyphicon-search"></i>
            </span>
            <input class="form-control" type="search" ng-model="nome" placeholder="Pesquisar parciente" />
        </div>
    </div>
    <div class="col-xs-12">
        <table st-table="displayed" class="table table-striped">
            <thead>
            <tr>
                <th st-ratio="20" st-sort="nomeCompleto">Nome Completo</th>
                <th st-ratio="20" st-sort="dataNascimento">Data de nascimento</th>
                <th st-ratio="10" st-sort="email">Email</th>
                <th st-ratio="30" st-sort="cpf">CPF</th>
                <th st-ratio="20" st-sort="telefone">Telefone</th>
                <th st-ratio="20"></th>
                <th st-ratio="20"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in parcientes |filter:nome">
                <td st-ratio="20">{{row.value.nomeCompleto}}</td>
                <td st-ratio="20">{{row.value.dataNascimento | uppercase}}</td>
                <td st-ratio="10">{{row.value.email}}</td>
                <td st-ratio="30">{{row.value._id}}</td>
                <td st-ratio="20">{{row.value.telefone}}</td>
                <td st-ratio="20">
                    <a href="">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
                <td>
                    <a href="">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div  st-items-by-page="20" st-pagination=""></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>